*{
	padding: 0px;
	margin: 0px;
	/*font-family: "Roboto";*/
	font-family: "Caveat", cursive;
	/*font-family: "Roboto";*/
	font-weight: 400;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
a{
	text-decoration: none;
}
.header{
	margin-top:1.2em;
}
.logo-head{
	width: 85%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;

}

color: #FFFFFF;

}
.logo-text{
	margin: 0 auto;
	font-size: 1.8em;
	display: right;
}
.logo_under{
	margin: 0 auto;
	font-size: 0.9em;	
}
.bg-menu{
	background: #000;
	border-radius: 2em;
}
.item{
	display:inline-block;
}
.dropdown-toggle{
	border: none;
	color: #fff;
}

.fa-bars, .fa-user, .text-menu{
	font-size: 0.8em;
	color: #fff;
}
i{
	display:block;
	color: #fff;
}
button.btn-menu{
	background: none;
	color: #fff;
	border-radius: 2em;
	display: block;
	border: solid #fff 1.2px;
	margin: 0 auto;
	width: 100%;
	padding: 0.5em;
	/*float: right;*/
}

.prono{
	display: flex;
	align-items: center;
}

/*urok*/
.wrapper{
	width: 1920px;
	margin: 0px auto;
}
header{
	margin-top:15px;
}
.header-block{
	display: flex;
	justify-content: space-between;
}
.header-block .logo{
	/*display: flex;*/
	align-items: center;
}
.header-block .logo a{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-block .logo a img{
	margin-right: 5px;
}
.header-block .logo a span{
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 28px;
	color: #000000;
}
.header-block .logo p{
	font-family: "Caveat", cursive;
	font-style: normal;
	font-size: 14px;
	text-align: justify;
}
.header-block .menu-block{
	width: 70%;
	background: #000;
	display: flex;
	align-items: center;
	padding: 20px 15px;
	justify-content: space-between;
	border-radius: 10px;
}

.menu-block .humburger{
	display: block;
	width: 15px;
	cursor: pointer;
}	

.menu-block .humburger span{
	width: 100%;
	height: 1px;
	background: #fff;
	display: block;
	margin-bottom: 3px;

}
.menu-block .humburger span:last-child{
	margin-bottom: 0px;

}
.menu-block .composition{
/*	margin-right: 20px;
	margin-left: 20px;*/
	margin: 0px 20px;
	align-items: center;
}
.menu-block .composition a{
	color: #fff;
	/*text-decoration: underline;*/
	border-bottom: none;
	/*display: flex;
	align-items: center;*/	
	position: relative;
	/*border-bottom: 1px solid #000;*/
	/*padding-bottom: 5px; */
}
.menu-block .composition a:before{
	content: " ";
	width: 100%;
	height: 1px;
	display: none;
	position: absolute;
	background: #fff;
	bottom: -5px;
}
.menu-block .composition a:hover:before{
	display: block;
}
.menu-block .composition a:after{
	content: " ";
	width: 12px;
	height: 6px;
	display: block;
	background: url(../media/arrow_down.svg) no-repeat center;
	background-size: cover;
	position: absolute;
	right: -15px;
	top: 7px;
}
.menu-block .song{
	display: flex;
	align-items: center;
	color: #fff;
	margin: 0px 20px;
	font-size: 10px;
}
.menu-block .song p{
	margin-left: 20px;
	line-height: 16px;
}
.menu-block .auth{
	padding: 7px 50px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 25px;
	cursor: pointer;
	font-size: 14px;
}
.menu-block .auth:hover{
	background: #fff;
	color: #000;
}

.item-menu{
    float: right;
    width: 70%;
}
.items{
    display: inline-block;
    margin-left: 1.5em;
}
.items ul li {
    list-style: None;
}

.content{
	flex: 1 0 auto;
	background: url(../media/violin.jpg) no-repeat center;
	background-size: cover;
	width: 1920px;
	margin:0px auto;
}

footer{
	flex: 0 0 auto;
	/*flex-shrink: 0;*/
}

.footer-block{
	padding: 40px 40px;
	bottom: 0px;
	position: relative;
	background: linear-gradient(263.44deg, rgba(12, 4, 1, 0.83) 0.86%, #0C0401 100%);
	/*background-blend-mode: luminosity;*/
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.logo-footer{

}
.subscribe{
	font-weight: normal;
	font-size: 13px;
	line-height: 100%;
	/* identical to box height, or 13px */
	/*letter-spacing: 0.7em;*/
	color: #EDEDED;
}
.subscribeIcons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

@media (max-width: 1920px) and (min-width: 1361px){
	.wrapper{
		width: 1024px;
	}
	.content{
		width: 1024px;
	}
}

@media (max-width: 1360px) and (min-width: 751px){
	.wrapper{
		width: 710px;
	}
	.content{
		width: 710px;
	}
}

@media (max-width: 750px) and (min-width: 451px){
	.wrapper{
		width: 410px;
	} 
	.content{
		width: 410px;
	}
}
@media (max-width: 450px) and (min-width: 320px){
	.wrapper{
		width: 280px;
	}
	.content{
		width: 280px;
	}
}

